{% include 'ahead.html' %}
<div class="home-bgr">
    <div class="text-center bold">
        {% if message!=None %}
           {{message}}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6 mt-60">
            <div class="card p-5">
                <div class="title text-center">Add Location</div>
                <form action="locations_action" method="post">
                    <div class="form-group">
                        <input type="text" id="location" name="location" class="form-control" placeholder="Location">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt form-icon" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                    </div>
                    <div class="p-5">
                        <input type="submit" value="Add" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 mt-60 bold">
            <div class="margin-left">
                <div>View Locations</div>
                <ol>
                    {% for location in locations %}
                    <li>
                        <a href="/edit_location?location_id={{location['_id']}}" class="link">{{location['location']}}</a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
