{% include 'chead.html' %}
<div class="home-bgr">
   <form action="search_flights">
        <div class="row p-10">
            <div class="col-3 p-10">
                <select name="source_location_id" class="form-control">
                    <option value="" >Choose Source Location</option>
                    {% for location in locations %}
                    <option value="{{location['_id']}}" {% if str(location['_id']) == str(source_location_id) %} selected {% endif %}>{{location['location']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3 p-10">
                <select name="destination_location_id" class="form-control">
                    <option value="">Choose Destination Location</option>
                    {% for location in locations %}
                    <option value="{{location['_id']}}" {% if str(location['_id']) == str(destination_location_id) %} selected {% endif %}>{{location['location']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3 p-10">
                <input type="date" class="form-control" value="{{date}}" name="date">
            </div>
            <div class="col-2 p-10">
                <input type="submit" value="search" class="btn-1 btn-primary">
            </div>
        </div>
   </form>
    <div class="p-10">
        {% for schedule in schedules %}
        {% set airport1=get_source_airport_name_by_airport_id(schedule['source_airport_id']) %}
        {% set location1=get_source_location_by_airport_id(airport1['location_id']) %}
        {% set airport2=get_destination_airport_name_by_airport_id(schedule['destination_airport_id']) %}
        {% set location2=get_destination_location_by_airport_id(airport2['location_id']) %}
        {% set airplane=get_seats_by_airplane_id(schedule['airplane_id']) %}
            <div class="card-2 mt-10 p-10 color">
                <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5 text-center">
                                    <div>{{location1['location']}}</div>
                                    <div>{{airport1['airport']}}</div>
                                    <div>{{schedule['departure_date_time']}}</div>
                                </div>
                                <div class="col-2 mt-10 bold">
                                    <div class="text-center">{{schedule['duration']}}</div>
                                    <div class="text-center">-----></div>
                                </div>
                                <div class="col-5 text-center">
                                    <div>{{location2['location']}}</div>
                                    <div>{{airport2['airport']}}</div>
                                    <div>{{schedule['arrival_date_time']}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <div class="bold">First Class</div>
                                    <div>{{airplane['first_class_available_seats']}} available ${{schedule['first_class_price']}}</div>
                                    <a href="/book_ticket?schedule_id={{schedule['_id']}}&class_type=first_class&total_seats={{airplane['first_class_available_seats']}}" class="btn-2 btn-primary-1">Book</a>
                                </div>
                                <div class="col-4 text-center">
                                    <div class="bold">Economy Class</div>
                                    <div>{{airplane['economy_class_available_seats']}} available ${{schedule['economic_class_price']}}</div>
                                    <a href="/book_ticket?schedule_id={{schedule['_id']}}&class_type=economy_class&total_seats={{airplane['economy_class_available_seats']}}" class="btn-2 btn-primary-1">Book</a>
                                </div>
                                <div class="col-4 text-center">
                                    <div class="bold">Business Class</div>
                                    <div>{{airplane['business_class_available_seats']}} available ${{schedule['business_class_price']}}</div>
                                    <a href="/book_ticket?schedule_id={{schedule['_id']}}&class_type=business_class&total_seats={{airplane['business_class_available_seats']}}" class="btn-2 btn-primary-1">Book</a>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
